*
{
  scroll-behavior:smooth;
}
body
{
  font-family: "ubuntu";
  line-height: 1.5;
}
h1{
  font-family: "Montserrat";
  color: #fff;
  font-size: 3.5rem;
  margin: 2% auto 5%;
}
h2
{
  font-family: "Montserrat";
  font-size: 2.5rem;
}
h3
{
color:#000;
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-style: normal;
}
p
{
  color: #8f8f8f;
}
.navbar-brand
{
  font-size: 2.5rem;
}.nav-item
{
  font-size: 1.3rem;
  padding: 0 10px 0;
}.navbar
{
  padding-bottom: 5%;
  padding-left: 0;
}#title
  {
    background-color: #ff4c68;
    padding: 3% 15% ;
  }
.phone-img
{
width: 60%;
transform: rotate(25deg);
position: absolute;

}.btn
{
  margin: 40px 5px 100px;
}
#features
{
  text-align: center;
  padding: 7% 15%;
  position: relative;
  background-color: #fff;
  z-index: 1;
}.icon
{
  font-size: 350%;
  color: #ef8172;
  margin: 1rem auto;
}.icon:hover
{
  color:#ff4c68;
}#testimonials
{
  background-color: #ef8172;

  text-align: center;
}#press{
  background-color: #ef8172;
  text-align: center;
  padding: 7% 15%;

}
.logo{
  width:15%;
  text-align: center;
  margin: 0 20px 7%; ;
}.testimonial-image
{
  width:10%;
  border-radius: 100%;
  margin: 5% auto ;
}.testimonial-text
{
  color:#fff;
  font-family: "Montserrat";
  font-size: 2.5rem;
}
.cont
{
  padding: 7% 15%;
}
/* pricing */
#pricing
{
  text-align: center;
  padding: 7% ;
}
.pricing-column
{
margin:3% auto;
}
#cta
{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}
.cta-text
{
  font-family: "Montserrat";
  color: #fff;
  font-size: 3.5rem;
  padding-bottom: 4%;
}
#footer
{
  padding: 7% 15%;
  text-align: center;
}
.social-icon
{
  margin:2% 1%;
}
@media screen and (max-width:1028px) {
 .phone-img
  {
   transform: rotate(0);
   position: static;
  }
  #title
  {
    text-align: center;
  }
}
